body {
  background-color: #000;
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #fff;
}

#app {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  min-height: 100vh;
  gap: 5%;
}
.modul {
  padding: 5%;
}
#havadurumu h1 {
  text-align: center;
  font-size: 15em;
  line-height: 0px;
}
#havadurumu .gunler {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}
#havadurumu .gun {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#havadurumu .gun h1 {
  font-size: 2em;
}
