@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
body {
  background-color: #000;
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #fff;
  font-size: 1.2em;
  font-family: "Nunito", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  texttransform: "initial" !important;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  background-color: inherit !important;
  color: #fff !important;
  border-color: #333 !important;
}
a {
  color: #fff;
  text-decoration: none;
}
h1 {
  font-weight: 700;
}

.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #000;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  border-radius: 10px;
  border: 1px solid #333;
  z-index: 1000;
}

.btn-link {
  color: #fff;
  padding: 0px;
}
.btn-link:hover {
  color: #333;
}
