@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
body {
  background-color: #000;
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #fff;
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  color: #fff;
}

#app {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  min-height: 100vh;
}
#profil {
  position: relative;
  width: 800px;
  margin: auto;
  padding-top: 50px;
}
.modul {
  padding: 5%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 90%;
}

.buton {
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}
.buton-link {
  background-color: inherit;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 800;
}
#logo .cerceve {
  border: 10px solid #fff;
  height: 130px;
  width: 80px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#form form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
#form input {
  padding: 15px;
  width: 300px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 5px;
  font-size: 1em;
}
#form label {
  margin-bottom: 5px;
}
#form button {
  background-color: #333;
  color: #ffffff;
  padding: 15px 10px;
  border: 0px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
}

#popup {
  position: relative;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #222;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 10px;
  border: 1px solid #333;
}
#popup h1 {
  padding: 0px;
  margin: 30px 0px 0px 0px;
}
#popup .btn-link {
  background-color: inherit;
  color: #fff;
  font-size: 30px;
  align-self: flex-start;
  padding: 0px;
  border: 0;
  margin-bottom: 20px;
  cursor: pointer;
}
#popup .btn-kapat {
  position: absolute;
  padding: 0px;
  border: 0px;
  background-color: inherit;
  color: #fff;
  font-size: 30px;
  width: auto;
  cursor: pointer;
  right: 30px;
  top: 30px;
}
#popup .btn-ekle {
  background-color: #000;
  width: 100%;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px;
  cursor: pointer;
}
#popup textarea {
  border: 0px;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}

#havadurumu h1 {
  text-align: center;
  font-size: 15em;
  line-height: 0px;
  font-weight: 900;
  letter-spacing: -13px;
}
#havadurumu .gunler {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}
#havadurumu .gun {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
#havadurumu .gun h1 {
  font-size: 2em;
  letter-spacing: 0px;
}
#havadurumu .gun:last-child {
  margin: 0px;
}

#notlar {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-top: 100px;
  width: 100%;
}
#notlar li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.5em;
  border-bottom: 1px solid #333;
  padding-top: 5px;
  padding-bottom: 10px;
  cursor: pointer;
}
#notlar li:last-child {
  border-bottom: 0px;
}
#notlar .yeni {
  align-self: flex-end;
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 30px;
  border-radius: 30px;
  font-weight: 600;
  width: 55px;
  cursor: pointer;
  text-align: center;
}
#notlar .bos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}
#notlar .bos button {
  font-size: 20px;
  width: 50%;
}

#notlar .bos > .material-symbols-outlined {
  font-size: 100px;
}

#notlar .bos > span {
  margin: 20px 0px;
}

#haberler {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2em;
  text-align: center;
}

#doviz {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
#doviz .birim {
  margin-right: 30px;
  text-align: center;
}
#doviz li {
  padding-right: 30px;
  text-align: center;
}
#doviz li:last-child {
  margin: 0px;
}
#doviz h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 2.5em;
  margin: 0px;
  padding: 0px;
}
#doviz h2 {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0px;
  padding: 0px;
}
#doviz h3 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0px;
  padding: 0px;
}
